.ipynb_checkpoints/
__pycache__/
*.py[cod]

.idea/
venv/
venv_win_py36/
venv_linux_36/
shap/
svm_stuff/
/data/**/*.pkl
/data/**/*.tsv

data/deception/bert_fine_tune/*
data/yelp/bert_fine_tune/*
data/sst/bert_fine_tune/*