.ipynb_checkpoints/
__pycache__/
*.py[cod]

.idea/
venv/
venv_win_py36/
venv_linux_36/
shap/
shap.bak/
svm_stuff/
/data/**/*.pkl
/data/**/*.tsv

data/deception/bert_fine_tune/*
data/yelp/bert_fine_tune/*
data/sst/bert_fine_tune/*

_classification_reports/
_data/as_csv/
_data/icwsm2020_data/

_explanations/unsex/attention_weights/
_explanations/unsex/feature_importance/
_explanations/unsex/features/
_explanations/unsex/tweets/

_trained_models/*

_data/icwsm2020_data/*

_data/as_csv

*.pkl
*.png
*.csv
*.txt